# Desafio final do curso

O projeto consiste em uma conciliação do valor total de vendas de recarga de celular por operadora e por loja. A Bemol recebe um arquivo de uma empresa financeira (detalhamento_m4u.xlsx) onde possui o valor consolidado de vendas e o objetivo é verificar se os dados do SAP (mcg3.csv) estão de acordo com o informado. Gerar um alerta caso os valores estejam divergentes.

Dica:
Os dados do SAP vêm separados por cada transição de venda realizada. A ideia é de agrupar esses dados para deixá-los no formato parecido com que recebemos da empresa externa e, assim, poder unificar as tabelas e fazer a comparação.

In [91]:
!ls

 aula_01.ipynb			      materiais.csv
 desafio_final.ipynb		      mcg3.csv
 desafio_final_relatorio.xlsx	      pedidos.txt
 detalhamento_m4u.xlsx		      Pipfile
'Estória do Usuário.xlsx'	      README.md
'EXERCÍCIO_AULA_01_(DAYVSON).ipynb'   relatorio_final.csv
 fmad_aula_02.ipynb		      relatorio_final.xlsx
 fmad_aula_03.ipynb		      vendas_1.xlsx
 fmad_exercicio_aula_02.ipynb	      vendas_2.xlsx
 LICENSE

In [92]:
import pandas as pd
import numpy as np

## Lendo os arquivos

In [93]:
!head -n 5 mcg3.csv

In [94]:
df_detalhamento_am = pd.read_excel('detalhamento_m4u.xlsx', sheet_name="AM", skiprows=1)
df_detalhamento_am

       NomeFantasia  Escritório de vendas  UF Operadora  Vlookup Bruto
0     BEMOL AVENIDA                   103  AM     Claro           2651
1     BEMOL AVENIDA                   103  AM        Oi           3309
2     BEMOL AVENIDA                   103  AM       Tim           1550
3     BEMOL AVENIDA                   103  AM      Vivo           4739
4     BEMOL BARROSO                   107  AM     Claro           1495
..              ...                   ...  ..       ...            ...
121  BEMOL STUDIO 5                   116  AM      Vivo           2144
122  BEMOL TORQUATO                   500  AM     Claro           1838
123  BEMOL TORQUATO                   500  AM        Oi            875
124  BEMOL TORQUATO                   500  AM       Tim            560
125  BEMOL TORQUATO                   500  AM      Vivo           3751

[126 rows x 5 columns]

In [95]:
df_detalhamento_rr = pd.read_excel('detalhamento_m4u.xlsx', sheet_name="RR", skiprows=1)
df_detalhamento_rr

            NomeFantasia  Escritório de vendas  UF Operadora  Vlookup Bruto
0        BEMOL BOA VISTA                   701  RR     Claro            140
1        BEMOL BOA VISTA                   701  RR        Oi             20
2        BEMOL BOA VISTA                   701  RR       Tim            135
3        BEMOL BOA VISTA                   701  RR      Vivo            304
4  BEMOL FARMA BOA VISTA                   610  RR     Claro            260
5  BEMOL FARMA BOA VISTA                   610  RR        Oi            135
6  BEMOL FARMA BOA VISTA                   610  RR       Tim            540
7  BEMOL FARMA BOA VISTA                   610  RR      Vivo           1400

In [96]:
df_detalhamento_ro = pd.read_excel('detalhamento_m4u.xlsx', sheet_name="RO", skiprows=1)
df_detalhamento_ro

,NomeFantasia,Escritório de vendas,UF,Operadora,Vlookup Bruto
0,BEMOL FARMA PORTO VELHO,609,RO,Claro,486
1,BEMOL FARMA PORTO VELHO,609,RO,Oi,90
2,BEMOL FARMA PORTO VELHO,609,RO,Tim,90
3,BEMOL FARMA PORTO VELHO,609,RO,Vivo,60
4,BEMOL PORTO VELHO,201,RO,Claro,1585
5,BEMOL PORTO VELHO,201,RO,Oi,634
6,BEMOL PORTO VELHO,201,RO,Tim,520
7,BEMOL PORTO VELHO,201,RO,Vivo,521
8,BEMOL PORTO VELHO SHOPPING,202,RO,Claro,2399
9,BEMOL PORTO VELHO SHOPPING,202,RO,Oi,602
10,BEMOL PORTO VELHO SHOPPING,202,RO,Tim,310
11,BEMOL PORTO VELHO SHOPPING,202,RO,Vivo,447
12,LOJA BEMOL ARIQUEMES,206,RO,Claro,45
13,LOJA BEMOL ARIQUEMES,206,RO,Oi,40
14,LOJA BEMOL ARIQUEMES,206,RO,Vivo,15
15,LOJA BEMOL FARMA ARIQUEMES,613,RO,Claro,90
16,LOJA BEMOL FARMA ARIQUEMES,613,RO,Oi,70
17,LOJA BEMOL FARMA ARIQUEMES,613,RO,Tim,35
18,LOJA BEMOL FARMA ARIQUEMES,613,RO,Vivo,35
19,LOJA BEMOL FARMA JI PARANA,616,RO,Claro,411
20,LOJA BEMOL FARMA JI PARANA,616,RO,Oi,95
21,LOJA BEMOL FARMA JI PARANA,616,RO,Tim,50
22,LOJA BEMOL FARMA JI PARANA,616,RO,Vivo,70
23,LOJA BEMOL JI-PARANA,205,RO,Claro,123

In [97]:
df_detalhamento_ac = pd.read_excel('detalhamento_m4u.xlsx', sheet_name="AC", skiprows=1)
df_detalhamento_ac

       NomeFantasia  Escritório de vendas  UF Operadora  Vlookup Bruto
0  BEMOL RIO BRANCO                   401  AC     Claro            500
1  BEMOL RIO BRANCO                   401  AC        Oi            375
2  BEMOL RIO BRANCO                   401  AC       Tim            125
3  BEMOL RIO BRANCO                   401  AC      Vivo            343

In [98]:
df_sap = pd.read_csv('mcg3.csv', sep='|')
df_sap

,Escritório de vendas,Fornecedor,Material,Data,Val.líq.
0,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,20.0
1,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",30.12.2019,10.0
2,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",04.01.2020,20.0
3,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,10.0
4,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",03.01.2020,25.0
...,...,...,...,...,...
5108,701,CLARO,"131317 RECARGA VIRTUAL CLARO R$ 1,00",30.12.2019,20.0
5109,701,CLARO,"131317 RECARGA VIRTUAL CLARO R$ 1,00",04.01.2020,20.0
5110,701,CLARO,"131317 RECARGA VIRTUAL CLARO R$ 1,00",05.01.2020,20.0
5111,701,CLARO,"131317 RECARGA VIRTUAL CLARO R$ 1,00",05.01.2020,45.0
5112,701,CLARO,"131317 RECARGA VIRTUAL CLARO R$ 1,00",04.01.2020,35.0

## Concatenando os dataframes detalhamento

In [99]:
df_detalhamento = pd.concat([df_detalhamento_am, 
                             df_detalhamento_rr,
                             df_detalhamento_ro,
                             df_detalhamento_ac], ignore_index=True)

df_detalhamento

             NomeFantasia  Escritório de vendas  UF Operadora  Vlookup Bruto
0           BEMOL AVENIDA                   103  AM     Claro           2651
1           BEMOL AVENIDA                   103  AM        Oi           3309
2           BEMOL AVENIDA                   103  AM       Tim           1550
3           BEMOL AVENIDA                   103  AM      Vivo           4739
4           BEMOL BARROSO                   107  AM     Claro           1495
..                    ...                   ...  ..       ...            ...
157  LOJA BEMOL JI-PARANA                   205  RO     Claro            123
158      BEMOL RIO BRANCO                   401  AC     Claro            500
159      BEMOL RIO BRANCO                   401  AC        Oi            375
160      BEMOL RIO BRANCO                   401  AC       Tim            125
161      BEMOL RIO BRANCO                   401  AC      Vivo            343

[162 rows x 5 columns]

## Tratamento de dados

### Renomeando Colunas

In [100]:
from unidecode import unidecode

In [101]:
# renomeando  df_sap
ind = [unidecode(col.lower().replace(" ", "_").replace("_de_", "_")) for col in df_detalhamento.columns]
ind[-1] = "val_bruto"
df_detalhamento.set_axis(ind, axis=1, inplace=True)

df_detalhamento.head()

    nomefantasia  escritorio_vendas  uf operadora  val_bruto
0  BEMOL AVENIDA                103  AM     Claro       2651
1  BEMOL AVENIDA                103  AM        Oi       3309
2  BEMOL AVENIDA                103  AM       Tim       1550
3  BEMOL AVENIDA                103  AM      Vivo       4739
4  BEMOL BARROSO                107  AM     Claro       1495

In [102]:
# renomeando df_detalhamento
ind = [unidecode(col.lower().replace(" ", "_").replace("_de_", "_")) for col in df_sap.columns]
ind[-1] = "val_liq"
ind[1] = "operadora"
df_sap.set_axis(ind, axis=1, inplace=True)

df_sap.head()

,escritorio_vendas,operadora,material,data,val_liq
0,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,20.0
1,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",30.12.2019,10.0
2,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",04.01.2020,20.0
3,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",02.01.2020,10.0
4,101,VIVO,"131318 RECARGA VIRTUAL VIVO R$ 1,00",03.01.2020,25.0

### Verificando os tipos das colunas

In [103]:
df_detalhamento.dtypes

nomefantasia         object
escritorio_vendas     int64
uf                   object
operadora            object
val_bruto             int64
dtype: object

In [104]:
df_sap.dtypes

escritorio_vendas      int64
operadora             object
material              object
data                  object
val_liq              float64
dtype: object

### Alterando tipos de dados de colunas

In [105]:
df_detalhamento.val_bruto = df_detalhamento.val_bruto.astype('float64')

### Alterando os nomes das operadoras

In [106]:
df_detalhamento.operadora = df_detalhamento.operadora.apply(lambda linha : linha.lower())

In [107]:
df_sap.operadora = df_sap.operadora.apply(lambda linha : linha.lower())

In [108]:
def change_name(linha):
    if linha == "tnl":
        return 'oi'
    else:
        return linha
    
df_sap.operadora = df_sap.operadora.apply(lambda linha : change_name(linha))

## Drop columns

#### df_detalhamento

In [109]:
df_detalhamento.drop(["uf", "nomefantasia"], axis=1, inplace=True)
df_detalhamento.head()

   escritorio_vendas operadora  val_bruto
0                103     claro     2651.0
1                103        oi     3309.0
2                103       tim     1550.0
3                103      vivo     4739.0
4                107     claro     1495.0

#### df_sap

In [110]:
df_sap.drop(["material", "data"], axis=1, inplace=True)
df_sap.head()

   escritorio_vendas operadora  val_liq
0                101      vivo     20.0
1                101      vivo     10.0
2                101      vivo     20.0
3                101      vivo     10.0
4                101      vivo     25.0

## Agrupamento

In [112]:
df_sap.groupby(["escritorio_vendas", "operadora"])["val_liq"].sum()

escritorio_vendas  operadora
101                claro        1527.0
                   oi           1730.0
                   tim           975.0
                   vivo         3142.0
103                claro        2652.3
                                 ...
618                vivo          561.0
701                claro         140.0
                   oi             20.0
                   tim           135.0
                   vivo          304.0
Name: val_liq, Length: 163, dtype: float64

In [113]:
df_sap = df_sap.groupby(["escritorio_vendas", "operadora"]).agg({'val_liq':'sum'}).reset_index()
df_sap

     escritorio_vendas operadora  val_liq
0                  101     claro   1527.0
1                  101        oi   1730.0
2                  101       tim    975.0
3                  101      vivo   3142.0
4                  103     claro   2652.3
..                 ...       ...      ...
158                618      vivo    561.0
159                701     claro    140.0
160                701        oi     20.0
161                701       tim    135.0
162                701      vivo    304.0

[163 rows x 3 columns]

## Merge

In [114]:
df_sap.shape, df_detalhamento.shape

((163, 3), (162, 3))

In [115]:
df = pd.merge(df_sap, df_detalhamento, on=["escritorio_vendas", "operadora"], how="left")
df.head()

   escritorio_vendas operadora  val_liq  val_bruto
0                101     claro   1527.0     1527.0
1                101        oi   1730.0     1730.0
2                101       tim    975.0      975.0
3                101      vivo   3142.0     3142.0
4                103     claro   2652.3     2651.0

## Aplicando regra de negócio

In [120]:
def verify_status(val_liq, val_bruto):
    if val_liq == val_bruto:
        return "ok"
    else:
        return "Alerta"

In [121]:
df.val_liq

0      1527.0
1      1730.0
2       975.0
3      3142.0
4      2652.3
        ...
158     561.0
159     140.0
160      20.0
161     135.0
162     304.0
Name: val_liq, Length: 163, dtype: float64

In [122]:
df["status"] = df.apply(lambda row : verify_status(row["val_liq"], row["val_bruto"]), axis=1)

In [123]:
df.head()

   escritorio_vendas operadora  val_liq  val_bruto  status
0                101     claro   1527.0     1527.0      ok
1                101        oi   1730.0     1730.0      ok
2                101       tim    975.0      975.0      ok
3                101      vivo   3142.0     3142.0      ok
4                103     claro   2652.3     2651.0  Alerta

## Exportando para planilha excel

In [124]:
writer = pd.ExcelWriter("desafio_final_relatorio.xlsx")

df_sap.to_excel(writer, sheet_name="sap", index=False)
df_detalhamento.to_excel(writer, sheet_name="detalhamento", index=False)
df.to_excel(writer, sheet_name="relatorio", index=False)

writer.save()