# Aula 03

### Exemplo do relatório a ser gerado a partir dos arquivos usados
material | quantidade_loja | quatidade_venda | porcentagem | satus
------------|-------------|-----------------|------------|----------

### Atividades a serem realizadas
* 1. Leitura de arquivos
* 2. Tratamento de dados
* 2.1 Renomear colunas
* 2.2 Verificar tipos
* 2.3 Deletar dados
* 3. Concatenar tabelas
* 4. Correlação de tabelas
* 5. Regras de negócio
* 6. Exportar dados

In [75]:
import pandas as pd
import numpy as np

## 1. Leitura de arquivos

##### Arquivos .CSV e .TXT

Lendo arquivos csv
```python
    pd.read_csv("caminho/nome.csv", sep=",", header=0, skiprows=6)
```
Lendo arquivos txt
```python
    pd.read_csv("caminho/nome.txt", sep=",", header=0, skiprows=3)
```

In [76]:
df_materiais = pd.read_csv("materiais.csv", sep=";")
df_materiais.head()

   Material                      Texto breve material
0   4000010  ALCACHOFRA 300MG CX 30CP
1   4000013  ANTI-SEPTICO ANESTESICO FRASCO 30ML
2   4000014  ASSEPTCARE SOL TOPICA FRASCO 30ML
3   4000015  ASSEPTCARE SOL TOPICA SPY FRASCO 50ML
4   4000016  BENATUX FRAMBOESA CX 12CP

In [77]:
df_pedidos = pd.read_csv("pedidos.txt", sep="|", skiprows=2)
df_pedidos.head()

,Nome do fornecedor,Material,Qtd.pedido,Texto breve,Qtd.estoque
0,3593 SB COMERCIO LTDA,4003232,120.0,FLUCANIL 150MG 1CP GEOLAB,12
1,3593 SB COMERCIO LTDA,4005091,60.0,BETRICORT CREME 30G CX60 GEOLAB,6
2,3593 SB COMERCIO LTDA,4003225,51.0,COLIRIO GEOLAB 20ML GEOLAB,5
3,3593 SB COMERCIO LTDA,4003251,60.0,MIZONOL CREME DERM 20MG/G 28G GEOLAB,6
4,3593 SB COMERCIO LTDA,4001716,20.0,GINO-COLON TUBO 45G+7APL,2

##### Arquivos .xlsx

In [78]:
df_vendas1 = pd.read_excel('vendas_1.xlsx', sheet_name='vendas')
df_vendas2 = pd.read_excel('vendas_2.xlsx', sheet_name='vendas')

In [79]:
df_vendas1.head()

         Data  Material  Qtd.faturd
0  03.11.2019   6000110           1
1  03.11.2019   6000129           1
2  03.11.2019   6000163           1
3  03.11.2019   6000172           1
4  03.11.2019   6000892           1

In [80]:
df_vendas2.sample(5)

            Data  Material  Qtd.faturd
650   08.11.2019   4001503          -2
6757  09.11.2019   6000326           1
3014  09.11.2019   4001533           2
1799  08.11.2019   4004393           1
2379  09.11.2019   4000501           1

## 2. Tratamento de dados

## 2.1 Renomear colunas

Renomeando colunas especificas
```python
df.rename(columns={'nome_antigo':'nome_novo'}, inplace=True)
```
Renomeando todas as colunas
```python
df.columns = [lista_novos_nomes]
```

In [81]:
ind = [col.lower().replace(" ", "_").replace(".", "_") for col in df_materiais.columns]
df_materiais.set_axis(ind, axis=1, inplace=True)

In [82]:
ind = [col.lower().replace(" ", "_").replace(".", "_") for col in df_pedidos.columns]
df_pedidos.set_axis(ind, axis=1, inplace=True)

In [83]:
ind = [col.lower().replace(" ", "_").replace(".", "_") for col in df_vendas1.columns]
df_vendas1.set_axis(ind, axis=1, inplace=True)

In [84]:
ind = [col.lower().replace(" ", "_").replace(".", "_") for col in df_vendas2.columns]
df_vendas2.set_axis(ind, axis=1, inplace=True)

## 2.2 Verificar tipos

In [85]:
df_materiais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4582 entries, 0 to 4581
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   material              4582 non-null   int64
 1   texto_breve_material  4582 non-null   object
dtypes: int64(1), object(1)
memory usage: 71.7+ KB

In [86]:
df_materiais.dtypes

material                 int64
texto_breve_material    object
dtype: object

In [87]:
df_materiais['material'].dtype

dtype('int64')

In [88]:
df_pedidos.dtypes

nome_do_fornecedor     object
material                int64
qtd_pedido            float64
texto_breve            object
qtd_estoque             int64
dtype: object

In [89]:
df_vendas1.dtypes

data          object
material       int64
qtd_faturd     int64
dtype: object

In [90]:
df_vendas2.dtypes

data          object
material       int64
qtd_faturd     int64
dtype: object

## Alterando tipos de dados

In [91]:
df_pedidos['qtd_pedido'] = df_pedidos['qtd_pedido'].astype(int)

## 2.3 Deletar dados

```python
df.drop([nome_colunas], axis=1)
ou
df.drop([1, 2], axis=0)
ou
df[[lista_de_colunas_manter]]
```

In [92]:
df_materiais.drop(["texto_breve_material"], axis='columns', inplace=True)

In [93]:
df_pedidos = df_pedidos[["material", "qtd_pedido", "qtd_estoque"]]

In [94]:
df_vendas1.drop(['data'], axis=1, inplace=True)

In [95]:
df_vendas2.drop(['data'], axis=1, inplace=True)

## 3. Concatenar tabelas

Teste de Concatenação

```python
df_vendas = pd.concat ([df_vendas1, df_vendas2], axis=0, ignore_index = True, sort = False)

df_vendas.material.value_counts()

df_vendas.groupby("material")["qtd_faturd"].count()
```

Concatenar tabelas

```python
pd.concat(df1, df2, ...)
```

In [96]:
df_vendas1.shape,  df_vendas2.shape

((8657, 2), (8144, 2))

In [97]:
df_vendas = pd.concat([df_vendas1, df_vendas2], ignore_index=False)

Resetar os indices

```python
df_vendas = df_vendas.reset_index(drop=True)
```

## 4. Correlação de tabelas

### Agrupamento de dados

Agrupamento de dados por colunas

```python
df.groupy(['colunas para agregar']).agg({'coluna1':'sum', 'column2':'mean', 'column3':'max', 'column4':'min'....}).reset_index()
```

In [98]:
df_vendas = df_vendas.groupby(['material']).agg({'qtd_faturd':'sum'}).reset_index()

In [99]:
df_pedidos = df_pedidos.groupby(['material']).agg({'qtd_estoque':'sum', 'qtd_pedido':'sum'}).reset_index()

### Merge

```python
pd.mege(df1, df2, on=['comuns col'], how='method')

method = 'left'(esquerda) or 'right'(direita) or 'inner'(itens comum) or 'outer' (todos itens)
```

In [100]:
df_relatorio = pd.merge(df_materiais, df_pedidos, on=['material'], how='left')

In [101]:
df_relatorio = pd.merge(df_relatorio, df_vendas, on=['material'], how='left')

### Tratamento pós merge

***Preencher vazios***

df.fillna('valor para substituir os valores vazios')

df['coluna'].fillna('valor para substituir os valores vazios')

In [102]:
df_relatorio.fillna(0, inplace=True)

In [103]:
df_relatorio[['qtd_estoque', 'qtd_pedido', 'qtd_faturd']] =\
df_relatorio[['qtd_estoque', 'qtd_pedido', 'qtd_faturd']].astype(int)

In [104]:
df_relatorio

      material  qtd_estoque  qtd_pedido  qtd_faturd
0      4000010           25         250           0
1      4000013            0           0           6
2      4000014            6          60           1
3      4000015            0           0           8
4      4000016            0           0           3
...        ...          ...         ...         ...
4577   6001409            0           0           2
4578   6001410            0           0           0
4579   6001411            0           0           0
4580   6001412            0           0           0
4581   6001415            0           4          14

[4582 rows x 4 columns]

## 5. Regras de negócio

In [105]:
df_relatorio.head()

   material  qtd_estoque  qtd_pedido  qtd_faturd
0   4000010           25         250           0
1   4000013            0           0           6
2   4000014            6          60           1
3   4000015            0           0           8
4   4000016            0           0           3

### Operações entre colunas sem condicional

In [106]:
df_relatorio['qtd_loja'] = df_relatorio['qtd_estoque'] + df_relatorio['qtd_pedido']

In [107]:
df_relatorio = df_relatorio[['material', 'qtd_faturd', 'qtd_loja']]

In [113]:
df_relatorio.rename(columns={'qtd_faturd':'qtd_vendas'}, inplace=True)

/home/dayvson/.local/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [114]:
df_relatorio

      material  vendas  qtd_loja
0      4000010       0       275
1      4000013       6         0
2      4000014       1        66
3      4000015       8         0
4      4000016       3         0
...        ...     ...       ...
4577   6001409       2         0
4578   6001410       0         0
4579   6001411       0         0
4580   6001412       0         0
4581   6001415      14         4

[4582 rows x 3 columns]

### Operações entre colunas com condicional

In [124]:
def calcular_porcentagem(loja, venda):
    if venda != 0:
        return loja / venda
    elif venda == 0 and loja != 0:
        return 1.2
    else:
        return 0

In [117]:
df_relatorio.head()

   material  vendas  qtd_loja
0   4000010       0       275
1   4000013       6         0
2   4000014       1        66
3   4000015       8         0
4   4000016       3         0

df.applay(lambda row: function(row['column']), axis=1)

In [132]:
df_relatorio['porcentagem'] = df_relatorio.apply(lambda row : calcular_porcentagem(row['qtd_loja'], row['vendas']), axis=1)

In [129]:
def verificar_status(porcentagem):
    if porcentagem >= 1.2:
        return 'alerta'
    else:
        return 'ok'

In [139]:
df_relatorio['status'] = df_relatorio.apply(lambda row: verificar_status(row['porcentagem']), axis=1)

In [140]:
df_relatorio

      material  vendas  qtd_loja  porcentagem  status
0      4000010       0       275     1.200000  alerta
1      4000013       6         0     0.000000      ok
2      4000014       1        66    66.000000  alerta
3      4000015       8         0     0.000000      ok
4      4000016       3         0     0.000000      ok
...        ...     ...       ...          ...     ...
4577   6001409       2         0     0.000000      ok
4578   6001410       0         0     0.000000      ok
4579   6001411       0         0     0.000000      ok
4580   6001412       0         0     0.000000      ok
4581   6001415      14         4     0.285714      ok

[4582 rows x 5 columns]

### Filtro

In [144]:
df_relatorio = df_relatorio[(df_relatorio['status']=='ok') & (df_relatorio['qtd_loja'] > 0)]

### Ordenando Valores

In [146]:
df_relatorio.sort_values(['qtd_loja'],ascending=True,
    inplace=True, ignore_index=True,)

    material  vendas  qtd_loja  porcentagem status
0    4002276       2         1     0.500000     ok
1    4003698       9         1     0.111111     ok
2    4003694       1         1     1.000000     ok
3    4003530      45         1     0.022222     ok
4    4003322      11         1     0.090909     ok
5    4002431      56         1     0.017857     ok
6    4001984      11         1     0.090909     ok
7    4003731       7         1     0.142857     ok
8    4004594       4         1     0.250000     ok
9    4005114       1         1     1.000000     ok
10   4000927       2         1     0.500000     ok
11   4000359       3         1     0.333333     ok
12   4000333       3         1     0.333333     ok
13   4000331       5         1     0.200000     ok
14   4000301       2         1     0.500000     ok
15   4000567       5         1     0.200000     ok
16   4003833      21         1     0.047619     ok
17   4000446      45         2     0.044444     ok
18   4000360       2         2     1.000000     ok
19   6001075       2         2     1.000000     ok
20   4002553      13         2     0.153846     ok
21   4000173       3         2     0.666667     ok
22   6000425       5         2     0.400000     ok
23   4001620       5         3     0.600000     ok
24   4003695       6         3     0.500000     ok
25   6001415      14         4     0.285714     ok
26   4000019     151         7     0.046358     ok
27   4004124      21         8     0.380952     ok
28   4000020      27         9     0.333333     ok
29   4000795      30        13     0.433333     ok
30   4000793      70        15     0.214286     ok

## 6. Exportar dados

### CSV

In [147]:
df_relatorio.to_csv('relatorio_final.csv', sep=',', index=False)

In [148]:
!head -n 5 relatorio_final.csv

material,vendas,qtd_loja,porcentagem,status
4000019,151,7,0.046357615894039736,ok
4000020,27,9,0.3333333333333333,ok
4000173,3,2,0.6666666666666666,ok
4000301,2,1,0.5,ok

### XLSX

In [152]:
writer = pd.ExcelWriter('relatorio_final.xlsx')

df_relatorio.to_excel(writer, sheet_name='relatorio', index=False)
df_materiais.to_excel(writer, sheet_name='materiais', index=False)
df_pedidos.to_excel(writer, sheet_name='pedidos', index=False)
df_vendas.to_excel(writer, sheet_name='vendas', index=False)

writer.save()

In [153]:
!ls

detalhamento_m4u.xlsx	      materiais.csv  relatorio_final.csv
fmad_aula_02.ipynb	      mcg3.csv	     relatorio_final.xlsx
fmad_aula_03.ipynb	      pedidos.txt    vendas_1.xlsx
fmad_exercicio_aula_02.ipynb  Pipfile	     vendas_2.xlsx
LICENSE			      README.md